
<div class="container-fluid">

	<div ng-hide="isLoggedIn">
		<br>Please connect to go further.
	</div>

	<div ng-if="isLoggedIn">
		<div class="container">
			<form id="profileform" name="mailForm">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center details">
						<h3>Your profile</h3>
						<form class="form-horizontal">
							<table class="table table-hover">
								<tr><div class="form-group">
									<td><label class="control-label">email</label></td>
									<td><input type="email" name="email"  class="col-md-8" ng-model="profile.currentUser.emails[0].address" required /></td>
								</div></tr>
								<tr><div class="form-group">
									<td><label class="control-label">username</label></td>
									<td><input name="username"  class="col-md-8" ng-model="profile.currentUser.username" pattern="^[A-Za-z0-9_]{1,15}$" required /></td>
								</div></tr>
							</table>
							<div ng-if="profileform.$invalid" class="alert alert-danger">You must enter a valid email and username</div>
							<button ng-click="profile.save()" class="btn btn-primary centered" style="margin-bottom:10px;" ng-disabled="mailForm.$invalid">Save</button>
						</form>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>