<div class="container-fluid">

	<div ng-hide="isLoggedIn">
		<br>Please connect to go further.
	</div>

	<div ng-if="isLoggedIn">
		<div class="container">
			You can change your email here:<br>
			<form name="mailForm">
				<div class="row">
						<input type="email" name="email"  class="col-xs-3" ng-model="profile.currentUser.emails[0].address" required />
						<span style="color:red" ng-show="mailForm.email.$dirty && mailForm.email.$invalid"></span>
						<button ng-click="profile.save()" class="btn btn-primary btn-xs" style="margin-left:10px;" ng-disabled="mailForm.$invalid">Save</button>
				</div>
			</form>
		</div>
	</div>
</div>