<div class="row h100">

	<div ng-hide="isLoggedIn">
		<br>Please connect to go further.
	</div>

	<div ng-if="isLoggedIn">
		<p>
			You can change your email here:<br>
			<form name="mailForm">
			<input type="email" name="email" ng-model="profile.currentUser.emails[0].address" required/>
        	<span style="color:red" ng-show="mailForm.email.$dirty && mailForm.email.$invalid">
        	</span>
			<button ng-click="profile.save()" class="btn btn-primary" ng-disabled="mailForm.$invalid">Save</button>
        	</form>
		</p>
	</div>
</div>