<div class="container-fluid">

	<div ng-hide="isLoggedIn">
		<br>Please connect to go further.
	</div>

	<div ng-if="isLoggedIn">
		<div ng-hide="user.machinesIsEmpty()">
			<div class="text-center" style="margin-bottom:30px;padding-left: 5%;padding-right:5%" >
			<h3>Machine list</h3>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>Machine name</th>
						<th>Machine type</th>
						<th>Number of CPU</th>
						<th>CPU</th>
						<th>RAM</th>
						<th>Storage</th>
						<th>Bandwidth</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="machine in user.machines" ng-class="user.getRowClass(machine)">
						<td style="vertical-align:middle">{{machine.machinename}}</td>
						<td style="vertical-align:middle">{{machine.machinetype}}</td>
						<td style="vertical-align:middle">{{machine.cpunumber}}</td>
						<td style="vertical-align:middle">{{machine.cpu}} Ghz</td>
						<td style="vertical-align:middle">{{machine.ram}} Gb</td>
						<td style="vertical-align:middle">{{machine.rabbitmq? ((machine.rabbitmq.SizeRw / 1000*1000*1000) / machine.storage) : 0}} % of {{machine.storage}} Gb</td>
						<td style="vertical-align:middle">{{machine.bandwidth}} Mbps</td>
						<td>
							<div class="btn-toolbar" role="toolbar">
								<div class="btn-group">
									<button ng-click="user.startMachine(machine)" class="btn btn-success centered" ng-disabled="keyForm.$invalid" style="margin: 0 auto;display: block;">Start</button>
								</div>
								<div class="btn-group">
									<button ng-click="user.stopMachine(machine)" class="btn btn-warning centered" style="margin: 0 auto;display: block;">Stop</button>
								</div>
								<div class="btn-group">
									<button ng-click="user.deleteMachine(machine)" class="btn btn-danger centered" style="margin: 0 auto;display: block;" ng-confirm-click="Confirm remove">Remove</button>
								</div>
								<div class="btn-group">
									<button ng-click="user.generate(machine)" class="btn btn-primary centered" style="margin: 0 auto;display: block;">Generate SSH config file</button>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="details text-center" style="margin-bottom:30px;padding-left: 5%;padding-right:5%" >
						<h3>Your SSH Public key</h3>
						<form name="keyForm">
							<textarea name="key" ng-model="user.currentUser.subscriber.sshKey" pattern="ssh-rsa AAAA[0-9A-Za-z+/]+[=]{0,3} ([^@]+@[^@]+)" style="max-width: 100%;width: 100%;height: 100px;max-height: 250px" required>Public SSH key</textarea>
							<p>
								<div ng-if="keyForm.$invalid" class="alert alert-danger">Invalid SSH public key</div>
								<button ng-click="user.save()" class="btn btn-primary" ng-disabled="keyForm.$invalid">Save</button>
							</p>
						</form>
					</div>
					<div class="details text-center" style="margin-bottom:30px;padding-left: 2%;padding-right:2%">
						<h3>Actions</h3>
						<p>
							<div class="btn-group">
								<button type="button" class="btn btn-primary" ng-click="user.generate_all()">Generate all-in-one SSH config</button>
							</div>
						</p>
						<p>
							<div class="alert alert-info" >Generated ssh config files suppose that your private key is ~/.ssh/id_rsa</div>
						</p>

					</div>
					<div class="details text-center" style="padding-left: 2%;padding-right:2%">
						<h3>Infos</h3>
						<p>
							<div class="alert alert-info" >When you start an instance, she will be seen online at least 30 seconds
								later, but recheable via SSH as soon as the success notification pop-up.</div>
						</p>
						<p>
							<div class="alert alert-info" >Of course, if you choose a custom docker image, it must run a SSH server on port 22.</div>
						</p>
						<p>
							<div class="alert alert-info" >To make a service accessible externally, use ssh remote port forwarding:
								<br># ssh -R [remote port]:localhost:[local port] user@example.com<br>and don't forget to set "GatewayPorts yes" in sshd_config on your remote server</div>
						</p>
					</div>
				</div>
				<div class="col-md-5 details text-center" style="margin-left:30px;margin-bottom:30px;" >
					<h3>Ask for a new Machine</h3>
					<form name="newMachineForm" class="form-horizontal">
						<table class="table table-hover">
							<tr><div class="form-group">
								<td><label class="control-label">Machine type</label></td>
								<div class="col-sm-10">
									<td><select ng-hide="user.machinetypeSelect=='other'" ng-model="user.machinetypeSelect" class="form-control" id="machineType">
										<option  ng-selected="$first">ubuntussh</option>
										<option>centosssh</option>
										<option>debianssh</option>
										<option value="" hidden></option>
										<option>other</option>
										<input ng-show="user.machinetypeSelect=='other'" type="text" ng-model="user.machinetypeInput" ng-required="user.machinetypeSelect=='other'"/>
									</select></td>
								</div>
							</div></tr>
							<tr><div class="form-group">
								<td><label class="control-label">Number of machines</label></td>
								<div class="col-sm-10">
									<td><input id="nbmch" type="number" ng-model="user.machineNumber" step="1" min="1" max="10" name="machineNumber" required/>
									</td>
								</div>
							</div></tr>
							<tr><div class="form-group">
								<td><label class="control-label">Number of cpu</label></td>
								<div class="col-sm-10">
									<td><input type="number" ng-model="user.newMachine.cpunumber" step="1" min="1" max="100000" name="cpuNumber" required/>
									</td>
								</div>
							</div></tr>
							<tr><div class="form-group">
								<td><label class="control-label">CPU (unit: Ghz)</label></td>
								<div class="col-sm-10">
									<td><input type="number" ng-model="user.newMachine.cpu" step="0.1" min="0.1" max="1000" name="cpu" required/>
									</td>
								</div>
							</div></tr>
							<tr><div class="form-group">
								<td><label class="control-label">RAM (unit: GB)</label></td>
								<div class="col-sm-10">
									<td><input type="number" ng-model="user.newMachine.ram" step="0.1" min="0.1" max="1000" name="ram" required/>
									</td>
								</div>
							</div></tr>
							<tr><div class="form-group">
								<td><label class="control-label">Storage (unit: GB)</label></td>
								<div class="col-sm-10">
									<td><input type="number" ng-model="user.newMachine.storage" step="0.1" min="0.1" max="1000" name="storage" required/>
									</td>
								</div>
							</div></tr>
							<tr><div class="form-group">
								<td><label class="control-label">Bandwidth (unit: MBps)</label></td>
								<div class="col-sm-10">
									<td><input type="number" ng-model="user.newMachine.bandwidth" step="0.1" min="0.1" max="1000" name="bandwidth" required/>
									</td>
								</div>
							</div></tr>
						</table>
						<p>
							<div ng-if="keyForm.$invalid" class="alert alert-danger">You must enter a valid SSH public key first !</div>
							<div ng-if="!user.currentUser.username" class="alert alert-danger">You must define your username first (see Profile section)</div>
							<div ng-if="newMachineForm.$invalid" class="alert alert-danger">At least one input is incomplete have invalid value<br> Numbers: min value : 0,1 ; max value : 1000</div>
							<button ng-click="user.insertMachine()" class="btn btn-primary centered" ng-disabled="newMachineForm.$invalid || !user.currentUser.subscriber.sshKey || !user.currentUser.username" style="margin: 0 auto;display: block;">Register</button>
						</p>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

