<div class="container-fluid">

	<div ng-hide="isLoggedIn">
		<br>Please connect to go further.
	</div>

	<div ng-if="isLoggedIn">
		<div ng-hide="user.machinesIsEmpty()">
			<div class="text-center" style="margin-bottom:30px;padding-left: 5%;padding-right:5%" >
			<h3>Machine list</h3>
			</div>
			<table id="mchusr" class="table text-center">
				<thead>
					<tr>
						<th>Machine</th>
						<th>Informations<br></th>
						<th>Actions<br></th>
						<th>Provider Rate</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="machine in user.machines" ng-class="user.getRowClass(machine)">
						<td style="vertical-align:middle">{{machine.machinename}}<br><b>type:</b> {{machine.machinetype}}</td>
						<td style="vertical-align:middle"><b>cpu:</b> {{machine.cpunumber}} x {{user.convert(machine.cpu.myvalue,machine.cpu.unit)}} {{machine.cpu.unit}}hz  <b>ram: </b>{{user.convert(machine.ram.myvalue,machine.ram.unit)}} {{machine.ram.unit}}B<br><b>storage:</b> {{machine.rabbitmq? ((machine.rabbitmq.SizeRw / 1024) / machine.storage.myvalue).toFixed(1) : 0}} % of {{user.convert(machine.storage.myvalue,machine.storage.unit)}} {{machine.storage.unit}}B<br><b>bandwidth:</b> {{user.convert(machine.bandwidth.myvalue,machine.bandwidth.unit)}} {{machine.bandwidth.unit}}Bps</td>
						<td style="vertical-align:middle">
							<div class="text-center" role="toolbar">
								<div class="btn-group">
									<button ng-click="user.startMachine(machine)" class="btn btn-success" ng-disabled="keyForm.$invalid||machine.state==='up'" >Start</button>
								</div>
								<div class="btn-group">
									<button ng-click="user.stopMachine(machine)" class="btn btn-warning" ng-disabled="machine.state!=='up'">Stop</button>
								</div>
								<div class="btn-group">
									<button ng-click="user.deleteMachine(machine)" class="btn btn-danger" ng-confirm-click="Confirm remove">Remove</button>
								</div>
								<div class="btn-group">
									<button ng-click="user.generate(machine)" class="btn btn-primary">Generate SSH config file</button>
								</div>
							</div>
						</td>
						<td style="vertical-align:middle">
							<!-- <select ng-model="user.{{machine.dns}}" id="machine.dns">
								<option value="mes couilles">1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option value="" hidden></option>
							</select>
							<div class="btn-group">
								<button ng-click="user.save_rate(machine._id)" class="btn btn-primary">Rate</button>
							</div> -->
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="details text-center" style="margin-bottom:30px;padding-left: 5%;padding-right:5%" >
						<h3>Your SSH Public key</h3>
						<form name="keyForm">
							<textarea name="key" ng-model="user.currentUser.subscriber.sshKey" pattern="ssh-rsa AAAA[0-9A-Za-z+/]+[=]{0,3} ([^@]+@[^@]+)" style="max-width: 100%;width: 100%;height: 100px;max-height: 250px" required>Public SSH key</textarea>
							<p>
								<div ng-if="keyForm.$invalid" class="alert alert-danger">Invalid SSH public key</div>
								<button ng-click="user.save()" class="btn btn-primary" ng-disabled="keyForm.$invalid">Save</button>
							</p>
						</form>
					</div>
					<div class="details text-center" style="margin-bottom:30px;padding-left: 2%;padding-right:2%">
						<h3>Actions</h3>
						<p>
							<div class="btn-group">
								<button type="button" class="btn btn-primary" ng-click="user.generate_all()">Generate all-in-one SSH config</button>
							</div>
						</p>
						<p>
							<div class="alert alert-info" >Generated ssh config files suppose that your private key is ~/.ssh/id_rsa</div>
						</p>

					</div>
					<div class="details text-center" style="padding-left: 2%;padding-right:2%">
						<h3>Infos</h3>
						<p>
							<div class="alert alert-info" >When you start an instance, she will be seen online at least 30 seconds
								later, but recheable via SSH as soon as the success notification pop-up.</div>
						</p>
						<p>
							<div class="alert alert-info" >Of course, if you choose a custom docker image, it must run a SSH server on port 22.</div>
						</p>
						<p>
							<div class="alert alert-info" >To make a service accessible externally, use ssh remote port forwarding:
								<br># ssh -R [remote port]:localhost:[local port] user@example.com<br>and don't forget to set "GatewayPorts yes" in sshd_config on your remote server.</div>
						</p>
					</div>
				</div>
				<div class="col-md-5 details text-center" style="margin-left:30px;margin-bottom:30px;" >
					<h3>Ask for a new Machine</h3>
					<form name="newMachineForm" class="form-horizontal">
						<table class="table table-hover">
							<tr><div class="form-group">
								<td><label class="control-label">Machine type</label></td>
								<div class="col-sm-10">
									<td><select ng-hide="user.machinetypeSelect=='other'" ng-model="user.machinetypeSelect" class="form-control" id="machineType" >
										<option selected="selected">ubuntussh</option>
										<option>centosssh</option>
										<option>debianssh</option>
										<option value="" hidden></option>
										<option>other</option>
										<input ng-show="user.machinetypeSelect=='other'" type="text" ng-model="user.machinetypeInput" ng-required="user.machinetypeSelect=='other'"/>
									</select></td>
								</div>
							</div></tr>
							<tr><div class="form-group">
								<td><label class="control-label">Number of machines</label></td>
								<div class="col-sm-10">
									<td><input id="nbmch" type="number" ng-model="user.machineNumber" step="1" min="1" max="10" name="machineNumber" required/>
									</td>
								</div>
							</div><td></td></tr>
							<tr><div class="form-group">
								<td><label class="control-label">Number of cpu</label></td>
								<div class="col-sm-10">
									<td><input type="number" ng-model="user.newMachine.cpunumber" step="1" min="1" max="100000" name="cpuNumber" required/>
									</td>
								</div>
							</div><td></td></tr>
							<tr><div class="form-group">
								<td><label class="control-label">Clock rate</label></td>
								<div class="col-sm-10">
									<td><input type="number" ng-model="user.newMachine.cpu.myvalue" step="1" min="1" max="999" name="cpu" required/>
									</td>
								</div>
							</div>
							<td><select ng-model="user.cpuunit" id="unitcpu">
								<option value="G" >GHz </option>
								<option value="M">MHz </option>
								<option value="" hidden></option>
							</select></td>
						</tr>
							<tr><div class="form-group">
								<td><label class="control-label">RAM</label></td>
								<div class="col-sm-10">
									<td><input type="number" ng-model="user.newMachine.ram.myvalue" step="1" min="1" max="999" name="ram" required/>
									</td>
								</div>
							</div>
							<td><select ng-model="user.ramunit" id="unitram">
								<option value="G" >GB  </option>
								<option value="M">MB  </option>
								<option value="" hidden></option>
							</select></td>
						</tr>
							<tr><div class="form-group">
								<td><label class="control-label">Storage</label></td>
								<div class="col-sm-10">
									<td><input type="number" ng-model="user.newMachine.storage.myvalue" step="1" min="1" max="999" name="storage" required/>
									</td>
								</div>
							</div>
							<td><select ng-model="user.storageunit" id="unitstorage">
								<option value="G" >GB  </option>
								<option value="M">MB  </option>
								<option value="" hidden></option>
							</select></td>
						</tr>
							<tr><div class="form-group">
								<td><label class="control-label">Bandwidth</label></td>
								<div class="col-sm-10">
									<td><input type="number" ng-model="user.newMachine.bandwidth.myvalue" step="1" min="1" max="999" name="bandwidth" required/>
									</td>
								</div>
							</div>
							<td><select ng-model="user.bandwidthunit" id="unitbandwidth">
								<option value="K" >KBps</option>
								<option value="M">MBps</option>
								<option value="" hidden></option>
							</select></td>
						</tr>
						</table>
						<p>
							<div ng-if="keyForm.$invalid" class="alert alert-danger">You must enter a valid SSH public key first !</div>
							<div ng-if="!user.currentUser.username" class="alert alert-danger">You must define your username first (see Profile section)</div>
							<div ng-if="newMachineForm.$invalid" class="alert alert-danger">At least one input is incomplete have invalid value<br> Numbers: min value : 1 ; max value : 999</div>
							<button ng-click="user.insertMachine()" class="btn btn-primary centered" ng-disabled="newMachineForm.$invalid || !user.currentUser.subscriber.sshKey || !user.currentUser.username" style="margin: 0 auto;display: block;">Register</button>
						</p>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

