<div class="container-fluid">

	<div ng-hide="isLoggedIn">
		<br>Please connect to go further.
	</div>

	<div ng-if="isLoggedIn">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="details text-center" style="margin-bottom:30px;padding-left: 5%;padding-right:5%" >
						<h3>Your SSH Public key</h3>
						<form name="keyForm">
							<textarea name="key" ng-model="user.currentUser.subscriber.sshKey" pattern="ssh-rsa AAAA[0-9A-Za-z+/]+[=]{0,3} ([^@]+@[^@]+)" style="max-width: 100%;width: 100%;height: 100px;max-height: 250px" required>Public SSH key</textarea>
							<p>
							<div ng-if="keyForm.$invalid" class="alert alert-danger">Invalid SSH public key</div>
								<button ng-click="user.save()" class="btn btn-primary" ng-disabled="keyForm.$invalid">Save</button>
							</p>
						</form>
					</div>
					<div class="details text-center" >
						<h3>Actions [TESTING]</h3>
						<p>
							<div class="btn-group">
								<button type="button" class="btn btn-primary" ng-click="action_test('create','ubuntussh 1 test 512M 1 1G')">Create test</button>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-danger" ng-click="action_test('stop','test0')">Stop test</button>
							</div>
						</p>
					</div>
				</div>
				<div class="col-md-5 details text-center" style="margin-left:30px;" >
					<h3>Ask for a new Machine</h3>
					<form name="newMachineForm" class="form-horizontal">
						<table class="table table-hover">
							<tr><div class="form-group">
								<td><label class="control-label">Machine type</label></td>
								<div class="col-sm-10">
									<td><select ng-hide="user.machinetypeSelect=='other'" ng-model="user.machinetypeSelect" class="form-control" id="machineType">
										<option  ng-selected="$first">ubuntussh</option>
										<option value="" hidden></option>
										<option>other</option>
									<input ng-show="user.machinetypeSelect=='other'" type="text" ng-model="user.machinetypeInput" ng-required="user.machinetypeSelect=='other'"/>
									</select></td>
								</div>
							</div></tr>
							<tr><div class="form-group">
								<td><label class="control-label">CPU (unit: Ghz)</label></td>
								<div class="col-sm-10">
									<td><input type="number" ng-model="user.newMachine.cpu" step="0.1" min="0.1" max="1000" name="cpu" required/>
									</td>
								</div>
							</div></tr>
							<tr><div class="form-group">
								<td><label class="control-label">RAM (unit: GB)</label></td>
								<div class="col-sm-10">
									<td><input type="number" ng-model="user.newMachine.ram" step="0.1" min="0.1" max="1000" name="ram" required/>
									</td>
								</div>
							</div></tr>
							<tr><div class="form-group">
								<td><label class="control-label">Storage (unit: GB)</label></td>
								<div class="col-sm-10">
									<td><input type="number" ng-model="user.newMachine.storage" step="0.1" min="0.1" max="1000" name="storage" required/>
									</td>
								</div>
							</div></tr>
							<tr><div class="form-group">
								<td><label class="control-label">Bandwidth (unit: MBps)</label></td>
								<div class="col-sm-10">
									<td><input type="number" ng-model="user.newMachine.bandwidth" step="0.1" min="0.1" max="1000" name="bandwidth" required/>
									</td>
								</div>
							</div></tr>
						</table>
						<p>
							<div ng-if="keyForm.$invalid" class="alert alert-danger">You must enter a valid SSH public key first !</div>
							<div ng-if="newMachineForm.$invalid" class="alert alert-danger">At least one input is incomplete have invalid value<br> Numbers: min value : 0,1 ; max value : 1000</div>
							<button ng-click="user.insertMachine()" class="btn btn-primary centered" ng-disabled="newMachineForm.$invalid || keyForm.$invalid" style="margin: 0 auto;display: block;">Register</button>
						</p>
					</form>
				</div>
			</div>
		</div>

		<div ng-hide="user.machinesIsEmpty()">
			<table class="table">
				<thead>
					<tr>
						<th>Machine type</th>
						<th>DNS</th>
						<th>CPU</th>
						<th>RAM</th>
						<th>Storage</th>
						<th>Bandwidth</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="machine in user.machines" ng-class="user.getRowClass(machine)">
						<td style="vertical-align:middle">{{machine.machinetype}}</td>
						<td style="vertical-align:middle">{{machine.dns}}</td>
						<td style="vertical-align:middle">{{machine.cpu}} Ghz</td>
						<td style="vertical-align:middle">{{machine.ram}} Gb</td>
						<td style="vertical-align:middle">{{machine.storage}} Gb</td>
						<td style="vertical-align:middle">{{machine.bandwidth}} Mbps</td>
						<td>
							<div class="btn-group inline">
								<button ng-click="user.startMachine(machine,'params start todo')" class="btn btn-success centered" ng-disabled="keyForm.$invalid" style="margin: 0 auto;display: block;">Start</button>
								<button ng-click="user.stopMachine(machine,'params stop toto')" class="btn btn-warning centered" style="margin: 0 auto;display: block;">Stop</button>
								<button ng-click="user.deleteMachine(machine,'params remove todo')" class="btn btn-danger centered" style="margin: 0 auto;display: block;" ng-confirm-click="Confirm delete">Remove</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>