<div class="container-fluid">

	<div ng-hide="isLoggedIn">
		<br>Please connect to go further.
	</div>

	<div ng-if="isLoggedIn">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="details text-center" style="margin-bottom:30px;" >
					<h3>Your SSH Public key</h3>
					<form name="keyForm">
						<textarea name="key" ng-model="user.currentUser.subscriber.sshKey" pattern="ssh-rsa AAAA[0-9A-Za-z+/]+[=]{0,3} ([^@]+@[^@]+)" cols="50" rows="6" required>Public SSH key</textarea>
						<br>
						<p>
							<button ng-click="user.save()" class="btn btn-primary" ng-disabled="keyForm.$invalid">Save</button>
						</p>
					</form>
				</div>
					<div class="details text-center" >
					<h3>Actions [TESTING]</h3>
					<p>
						<div class="btn-group">
							<button type="button" class="btn btn-primary" ng-click="exec_cmd('create_test','ubuntussh 1 test 512M 1 1G')">Create test</button>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-danger" ng-click="exec_cmd('stop_test','test0')">Stop test</button>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-success" ng-click="exec_cmd('test_valid','Valid param')">test successful notif</button>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-warning" ng-click="exec_cmd('test_error','Error param')">test error notif</button>
						</div>
					</p>
				</div>
				</div>
				<div class="col-md-5 details text-center" style="margin-left:30px;" >
					<br><h3>Ask for a new machine</h3>

					<form name="newMachineForm" class="form-horizontal">
						<table class="table table-hover">
							<tr><div class="form-group">
								<td><label class="control-label">CPU (unit: Ghz)</label></td>
								<div class="col-sm-10">
									<td><input type="number" ng-model="user.newMachine.cpu" step="0.1" name="cpu" required/>
									</td>
								</div>
							</div></tr>
							<tr><div class="form-group">
								<td><label class="control-label">RAM (unit: GB)</label></td>
								<div class="col-sm-10">
									<td><input type="number" ng-model="user.newMachine.ram" name="ram" required/>
									</td>
								</div>
							</div></tr>
							<tr><div class="form-group">
								<td><label class="control-label">Storage (unit: GB)</label></td>
								<div class="col-sm-10">
									<td><input type="number" ng-model="user.newMachine.storage" name="storage" required/>
									</td>
								</div>
							</div></tr>
							<tr><div class="form-group">
								<td><label class="control-label">Bandwidth (unit: MBps)</label></td>
								<div class="col-sm-10">
									<td><input type="number" ng-model="user.newMachine.bandwidth" name="bandwidth" required/>
									</td>
								</div>
							</div></tr>
						</table>
						<p>
							<div ng-if="!user.currentUser.subscriber.sshKey" class="alert alert-warning">You must enter your public ssh key first !</div><br>
							<button ng-click="user.insertMachine()" class="btn btn-primary centered" ng-disabled="newMachineForm.$invalid || keyForm.$invalid" style="margin: 0 auto;display: block;">Register</button></p>

					</form>
				</div>

			</div>
		</div>

		<div ng-hide="user.machinesIsEmpty()">
			<table class="table">
				<thead>
					<tr>
						<th>DNS</th>
						<th>CPU</th>
						<th>RAM</th>
						<th>Storage</th>
						<th>Bandwidth</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="machine in user.machines" ng-class="user.getRowClass(machine)">
						<td style="vertical-align:middle">{{machine.dns}}</td>
						<td style="vertical-align:middle">{{machine.cpu}} Ghz</td>
						<td style="vertical-align:middle">{{machine.ram}} Gb</td>
						<td style="vertical-align:middle">{{machine.storage}} Gb</td>
						<td style="vertical-align:middle">{{machine.bandwidth}} Mbps</td>
						<td>
							<div class="btn-group inline">
								<button ng-click="user.startMachine(machine,'params todo')" class="btn btn-success centered" ng-disabled="keyForm.$invalid" style="margin: 0 auto;display: block;">Start</button>
								<button ng-click="user.stopMachine(machine,'param name toto')" class="btn btn-warning centered" style="margin: 0 auto;display: block;">Stop</button>
								<button ng-click="user.deleteMachine(machine)" class="btn btn-danger centered" style="margin: 0 auto;display: block;">Remove</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>



	</div>
</div>