<div class="container-fluid">

	<div ng-hide="isLoggedIn">
		<br>Please connect to go further.
	</div>

	<div ng-if="isLoggedIn">
		Please paste your public ssh key :<br>
		<form name="keyForm">
			<textarea name="key" ng-model="user.currentUser.subscriber.sshKey" pattern="ssh-rsa AAAA[0-9A-Za-z+/]+[=]{0,3} ([^@]+@[^@]+)" cols="70" rows="6" required>Public SSH key</textarea>
			<span style="color:red" ng-show="keyForm.key.$dirty && keyForm.key.$invalid">
			</span>
			<br><button ng-click="user.save()" class="btn btn-primary" ng-disabled="keyForm.$invalid">Save</button>
		</form>
		<br>
		<button type="button" class="btn btn-primary" ng-click="exec_cmd('create','ubuntussh 1 test 512M 1 1G')">Create test</button>
		<button type="button" class="btn btn-danger" ng-click="exec_cmd('stop','test0')">Stop test</button>
		<button type="button" class="btn btn-success" ng-click="exec_cmd('test_valid','Valid param')">test successful notif</button>
		<button type="button" class="btn btn-warning" ng-click="exec_cmd('test_error','Error param')">test error notif</button>

	</div>
</div>