<div class="row">
  <div class="col-xs-12">
    The objective of this project is to allow a user group (member) to pool their laptops or desktop in order to calculate big data of few users. To do so, the solution should work with Docker to virtualize user machines and control the use of resources of each machine. 

    <center><h2>The team</h2>
    <h3>RICM5 students:</h3>

    * EUDES Robin<br>
    * DAMOTTE Alan<br>
    * BARTHELEMY Romain<br>
    * MAMMAR Malek<br>
    * GUO Kai<br>

    <h3>DUT Students:</h3>

    * BONNARD Loïc<br>
    * CAPERAN Théo<br>

    <h3>Supervisors:</h3>
    * Pierre-Yves Gibello (Linagora)<br>
    * Vincent Zurczak (Linagora)<br>
    * Didier Donsez<br></center>
  </div>
</div>
