<script>
function convert(value,unit){
	switch(unit){
		case "K":
		return value;
		break;
		case "M":
		return value/1024;
		break;
		case "G":
		return value/1024/1024;
		break;
		default:
		break;
	}	
}

$(document).on("click", ".modifprovider", function () {
	var rsc = $(this).data('rsc');
	$(".modal-body #rid").val(rsc._id);
	$(".modal-body #dns").attr("placeholder",rsc.dns);
	$(".modal-body #cpuNumber").attr("placeholder", rsc.cpunumber.total );
	$(".modal-body #cpu").attr("placeholder", convert(rsc.cpu.speed,rsc.cpu.unit));
	$(".modal-body #storage").attr("placeholder", convert(rsc.storage.total,rsc.storage.unit));
	$(".modal-body #ram").attr("placeholder",convert(rsc.ram.total,rsc.ram.unit));
	$(".modal-body #bandwidth").attr("placeholder",convert(rsc.bandwidth.total,rsc.bandwidth.unit));
	$(".modal-body #unitcpu").val(rsc.cpu.unit);
	$(".modal-body #unitram").val(rsc.ram.unit);
	$(".modal-body #unitstorage").val(rsc.storage.unit);
	$(".modal-body #unitbandwidth").val(rsc.bandwidth.unit);
});
</script>

<div class="container-fluid">

	<div ng-hide="isLoggedIn">
		<br>Please connect to go further.
	</div>

	<!-- btn access machine form -->
	<div ng-if="isLoggedIn">
		<div class="row">
			<div class="col-md-4 col-md-offset-3 details text-center" style="margin-bottom:30px;">
				<h3>Action</h3>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add">Insert new machine</button>
					</div>
				<div style="margin-top:10px;" class="alert alert-info">Domain properties can be modified <br> only when domain is not running</div>
			</div>
		</div>
		<!-- Insert machine form  -->
		<div class="modal fade text-center" myModal id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Insert new machine</h4>

						<div class="modal-body">
							<div class="row">
								<form name="newMachineForm" class="form-horizontal">
									<table class="table table-hover">
										<tr>
											<td><label class="control-label">Domain name</label></td>
											<td><input type="text" ng-model="provider.newRessource.dns" name="dns" pattern="(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z](?:[a-z-]*[a-z])" required/></td><td></td>
										</tr>
										<tr>
											<td><label class="control-label">Number of CPU</label></td>
											<td><input type="number" ng-model="provider.newRessource.cpunumber.total" step="1" min="1" max="100000" name="cpuNumber" required/></td><td></td>
										</tr>
										<tr>
											<td><label class="control-label">Clock speed</label></td>
											<td><input type="number" ng-model="provider.newRessource.cpu.speed" step="1" min="1" max="999" name="cpu" required/></td>
											<td>Unit : 
											<select ng-model="provider.cpuunit" id="unitcpu">
												<option value="G" >GHz </option>
												<option value="M">MHz </option>
												<option value="" hidden></option>
											</select>
											</td>
										</tr>
										<tr>
											<td><label class="control-label">RAM</label></td>
											<td><input type="number" ng-model="provider.newRessource.ram.total" step="1" min="1" max="999" name="ram" required/></td>
											<td>Unit : 
											<select ng-model="provider.ramunit" id="unitram">
												<option value="G" >GB  </option>
												<option value="M">MB  </option>
												<option value="" hidden></option>
											</select>
											</td>
										</tr>
										<tr>
											<td><label class="control-label">Storage</label></td>
											<td><input type="number" ng-model="provider.newRessource.storage.total" step="1" min="1" max="999" name="storage" required/></td>
											<td>Unit : 
											<select ng-model="provider.storageunit" id="unitstorage">
												<option value="G" >GB  </option>
												<option value="M">MB  </option>
												<option value="" hidden></option>
											</select>
											</td>
										</tr>
										<tr>
											<td><label class="control-label">Bandwidth</label></td>
											<td><input type="number" ng-model="provider.newRessource.bandwidth.total" step="1" min="1" max="999" name="bandwidth" required/></td>
											<td>Unit : 
											<select ng-model="provider.bandwidthunit" id="unitbandwidth">
												<option value="M" >MBps</option>
												<option value="K">KBps</option>
												<option value="" hidden></option>
											</select>
											</td>
										</tr>
									</table>
									
									<div ng-if="newMachineForm.$invalid" class="alert alert-danger">At least one input have invalid value<br> min value : 1 ; max value : 999<br>Domain name must be (at least) like this : {1}.{2} </div>
									<div class="alert alert-info">Don't forget to specify a unit when required...</div>
									<div class="col-sm-offset-3 col-sm-6 text-center">
										<div class="btn-group">
											<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
										</div>
										<div class="btn-group">
											<button ng-click="provider.insertRessource()" class="btn btn-success" ng-disabled="newMachineForm.$invalid" >Save</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- modify ressource form  -->
		<div class="modal fade text-center" id="modify_machine" tabindex="-1" role="dialog" aria-labelledby="modalmodify">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="modalmodify">Modify machines</h4>
						<div class="modal-body">
							<div class="row">
								<form name="ModifyMachineForm" class="form-horizontal" id="modfmachine">
									<table class="table table-hover">
										<tr>
											<td><label class="control-label">Domain name</label></td>
											<td><input type="text" id="dns" ng-model="ressource.dns" name="dns" placeholder="" pattern="(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z](?:[a-z-]*[a-z])"/></td><td></td>
										</tr>
										<tr>
											<td><label class="control-label">Number of CPU</label></td>
											<td><input type="number" id="cpuNumber" ng-model="ressource.cpunumber.total" placeholder="" step="1" min="1" max="100000" name="cpuNumber" /></td><td></td>
										</tr>
										<tr>
											<td><label class="control-label">Clock speed</label></td>
											<td><input type="number" id="cpu" ng-model="ressource.cpu.speed" placeholder="" step="1" min="1" max="999" name="cpu" /></td>
											<td>Unit : 
											<select ng-model="provider.cpuunit" id="unitcpu">
												<option value="G" >GHz </option>
												<option value="M">MHz </option>
												<option value="" hidden></option>
											</select>
											</td>
										</tr>
										<tr>
											<td><label class="control-label">RAM</label></td>
											<td><input type="number" id="ram" placeholder="" ng-model="ressource.ram.total" step="1" min="1" max="999" name="ram" /></td>
											<td>Unit : 
											<select ng-model="provider.ramunit" id="unitram">
												<option value="G" >GB  </option>
												<option value="M">MB  </option>
												<option value="" hidden></option>
											</select>
											</td>
										</tr>
										<tr>
											<td><label class="control-label">Storage</label></td>
											<td><input type="number" id="storage" placeholder="" ng-model="ressource.storage" step="1" min="1" max="999" name="storage" /></td>
											<td>Unit : 
											<select ng-model="provider.storageunit" id="unitstorage">
												<option value="G" >GB  </option>
												<option value="M">MB  </option>
												<option value="" hidden></option>
											</select>
											</td>
										</tr>
										<tr>
											<td><label class="control-label">Bandwidth</label></td>
											<td><input type="number" id="bandwidth" placeholder="" ng-model="ressource.bandwidth" step="1" min="1" max="999" name="bandwidth" /></td>
											<td>Unit : 
											<select ng-model="provider.bandwidthunit" id="unitbandwidth">
												<option value="M" >MBps</option>
												<option value="K">KBps</option>
												<option value="" hidden></option>
											</select>
											</td>
										</tr>
									</table>
									<input name= "rid" id="rid" ng-model="ridid" hidden/>
									<div ng-if="ModifyMachineForm.$invalid" class="alert alert-danger">At least one input have invalid value<br> min value : 1 ; max value : 999<br>Domain name must be (at least) like this : {1}.{2} </div>
									<div class="col-sm-offset-3 col-sm-6 text-center">
										<div class="btn-group">
											<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
										</div>

										<div class="btn-group">
											<button ng-click="provider.updateRessource(provider.getRessourceId())" class="btn btn-success" ng-disabled="ModifyMachineForm.$invalid" >Save</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Table ressources provider -->
		<div ng-hide="provider.ressourcesIsEmpty()">
			<table class="table">
				<thead>
					<tr>
						<th>DNS</th>
						<th>Number of CPU</th>
						<th>CPU</th>
						<th>RAM</th>
						<th>Storage</th>
						<th>Bandwidth</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="ressource in provider.ressources" ng-class="provider.getRowClass(ressource.usable)">
						<td style="vertical-align:middle">{{ressource.dns}}</td>
						<td style="vertical-align:middle">{{ressource.cpunumber.total}}</td>
						<td style="vertical-align:middle">{{provider.convert(ressource.cpu.speed,ressource.cpu.unit)}} {{ressource.cpu.unit}}Hz</td>
						<td style="vertical-align:middle">{{provider.convert(ressource.ram.total,ressource.ram.unit)}} {{ressource.ram.unit}}B</td>
						<td style="vertical-align:middle">{{provider.convert(ressource.storage.total,ressource.storage.unit)}} {{ressource.storage.unit}}B</td>
						<td style="vertical-align:middle">{{provider.convert(ressource.bandwidth.total,ressource.bandwidth.unit)}} {{ressource.bandwidth.unit}}Bps</td>
						<td>
							<div class="btn-toolbar" role="toolbar">
								<div class="btn-group">
									<button ng-click="provider.startRessource(ressource)" class="btn btn-success centered" ng-disabled="ressource.usable" style="margin: 0 auto;display: block;">Start</button>
								</div>
								<div class="btn-group">
									<button ng-click="provider.stopRessource(ressource)" class="btn btn-warning centered" ng-disabled="!ressource.usable" style="margin: 0 auto;display: block;">Stop</button>
								</div>
								<div class="btn-group">
									<button ng-click="provider.deleteRessource(ressource)" class="btn btn-danger centered" style="margin: 0 auto;display: block;" ng-confirm-click="Confirm delete">Delete</button>
								</div>
								<div class="btn-group">
									<button class="btn btn-primary centered modifprovider" ng-disabled="provider.isUsable(ressource)"
									data-toggle="modal" data-rsc='{{provider.getRessource(ressource._id)}}' data-target="#modify_machine"  style="margin: 0 auto;display: block;">Modify</button>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>