<div class="container-fluid">

	<div ng-hide="isLoggedIn">
		<br>Please connect to go further.
	</div>

	<!-- btn access machine form -->
	<div ng-if="isLoggedIn">
		<div class="btn-toolbar" role="toolbar">
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add">Insert new machine</button>
			</div>
		</div>

		<!-- Insert machine form  -->
		<div class="modal fade text-center" myModal id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Insert new machine</h4>

						<div class="modal-body">
							<div class="row">
								<form name="newMachineForm" class="form-horizontal">
									<table class="table table-hover">
										<tr>
											<td><label class="control-label">Domain name</label></td>
											<td><input type="text" ng-model="provider.newRessource.dns" name="dns" pattern="(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z](?:[a-z-]*[a-z])" required/></td>
										</tr>
										<tr>
											<td><label class="control-label">CPU (unit: Ghz)</label></td>
											<td><input type="number" ng-model="provider.newRessource.cpu" step="0.1" name="cpu" required/></td>
										</tr>
										<tr>
											<td><label class="control-label">RAM (unit: GB)</label></td>
											<td><input type="number" ng-model="provider.newRessource.ram.total" name="ram" required/></td>
										</tr>
										<tr>
											<td><label class="control-label">Storage(unit: GB)</label></td>
											<td><input type="number" ng-model="provider.newRessource.storage.total" name="storage" required/></td>
										</tr>
										<tr>
											<td><label class="control-label">Bandwidth (unit: Mbps)</label></td>
											<td><input type="number" ng-model="provider.newRessource.bandwidth.total" name="bandwidth" required/></td>
										</tr>
									</table>

									<div class="col-sm-offset-3 col-sm-6 text-center">
										<div class="btn-group">
											<button type="button" class="btn btn-danger" data-dismiss="modal">Exit/Cancel</button>
										</div>
										<div class="btn-group">
											<button ng-click="provider.insertRessource()" class="btn btn-success" ng-disabled="newMachineForm.$invalid" >Save</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Table ressources provider -->
		<div ng-hide="provider.ressourcesIsEmpty()">
			<table class="table">
				<thead>
					<tr>
						<th>DNS</th>
						<th>CPU</th>
						<th>RAM</th>
						<th>Storage</th>
						<th>Bandwidth</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="ressource in provider.ressources" ng-class="provider.getRowClass(ressource.usable)">
						<td style="vertical-align:middle">{{ressource.dns}}</td>
						<td style="vertical-align:middle">{{ressource.cpu}} Ghz</td>
						<td style="vertical-align:middle">{{ressource.ram.total}} GB</td>
						<td style="vertical-align:middle">{{ressource.storage.total}} GB</td>
						<td style="vertical-align:middle">{{ressource.bandwidth.total}} MBps</td>
						<td>
							<div class="btn-toolbar" role="toolbar">
								<div class="btn-group">
									<button ng-click="provider.startRessource(ressource)" class="btn btn-success centered" ng-disabled="false" style="margin: 0 auto;display: block;">Start</button>
								</div>
								<div class="btn-group">
									<button ng-click="provider.stopRessource(ressource)" class="btn btn-warning centered" ng-disabled="false" style="margin: 0 auto;display: block;">Stop</button>
								</div>
								<div class="btn-group">
									<button ng-click="provider.deleteRessource(ressource)" class="btn btn-danger centered" ng-disabled="false" style="margin: 0 auto;display: block;" ng-confirm-click="Confirmation ?">Delete</button>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>