<div class="container-fluid">

	<div ng-hide="isLoggedIn">
		<br>Please connect to go further.
	</div>

	<div ng-if="isLoggedIn">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-3" id="details">
					<br><h3>Insert new machine</h3>

					<form name="newMachineForm" class="form-horizontal">
						<table class="table table-hover">
							<tr><div class="form-group">
								<td><label class="control-label col-sm-1">DNS</label></td>
								<div class="col-sm-10">
									<td><input type="text" ng-model="provider.newRessource.dns" name="dns" pattern="(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9])" required/>
									</td>
								</div>
							</div></tr>
							<tr><div class="form-group">
								<td><label class="control-label col-sm-1">CPU</label></td>
								<div class="col-sm-10">
									<td><input type="number" ng-model="provider.newRessource.cpu.total" step="0.1" name="cpu" required/> Ghz
									</td>
								</div>
							</div></tr>
							<tr><div class="form-group">
								<td><label class="control-label col-sm-1">RAM</label></td>
								<div class="col-sm-10">
									<td><input type="number" ng-model="provider.newRessource.ram.total" name="ram" required/> GB
									</td>
								</div>
							</div></tr>
							<tr><div class="form-group">
								<td><label class="control-label col-sm-1">Storage</label></td>
								<div class="col-sm-10">
									<td><input type="number" ng-model="provider.newRessource.storage.total" name="storage" required/> GB
									</td>
								</div>
							</div></tr>
							<tr><div class="form-group">
								<td><label class="control-label col-sm-1">Bandwidth</label></td>
								<div class="col-sm-10">
									<td><input type="number" ng-model="provider.newRessource.bandwidth.total" name="bandwidth" required/> MBps
									</td>
								</div>
							</div></tr>
						</table>
						<p><button ng-click="provider.insertRessource()" class="btn btn-primary centered" ng-disabled="newMachineForm.$invalid" style="margin: 0 auto;display: block;">Save</button></p>

					</form>
				</div>
			</div>
		</div>

		<div ng-hide="provider.ressourcesIsEmpty()">
			<table class="table">
				<thead>
					<tr>
						<th>DNS</th>
						<th>CPU</th>
						<th>RAM</th>
						<th>Storage</th>
						<th>Bandwidth</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="ressource in provider.ressources" ng-class="provider.getRowClass(ressource.usable)">
						<td style="vertical-align:middle">{{ressource.dns}}</td>
						<td style="vertical-align:middle">{{ressource.cpu.total}} Ghz</td>
						<td style="vertical-align:middle">{{ressource.ram.total}} Gb</td>
						<td style="vertical-align:middle">{{ressource.storage.total}} Gb</td>
						<td style="vertical-align:middle">{{ressource.bandwidth.total}} Mbps</td>
						<td>
							<div class="btn-group inline">
								<button ng-click="provider.startRessource(ressource)" class="btn btn-success centered" ng-disabled="false" style="margin: 0 auto;display: block;">Start</button>
								<button ng-click="provider.stopRessource(ressource)" class="btn btn-warning centered" ng-disabled="false" style="margin: 0 auto;display: block;">Stop</button>
								<button ng-click="provider.deleteRessource(ressource)" class="btn btn-danger centered" ng-disabled="false" style="margin: 0 auto;display: block;">Delete</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>


		<!--<pre>Provider cpu="{{provider.currentUser.Ressources.cpu}}"</pre>-->
		<!--<tr>-->
		<!--<th>Memory</th>-->
		<!--<td><input type="text" id="editItemMemory" value="{{collab_Memory}}"></td>-->
		<!--</tr>-->
		<!--<tr>-->
		<!--<th>Hard Storage</th>-->
		<!--<td><input type="text" id="editItemStorage" value="{{collab_Storage}}"></td>-->
		<!--</tr>-->
		<!--<tr>-->
		<!--<th>Network</th>-->
		<!--<td><input type="text" id="editItemNetwork" value="{{collab_Network}}"></td>-->
		<!--</tr>-->
		<!--<tr>-->
		<!--<th>Last modified</th>-->
		<!--<td><input type="text" id="editItemModifDate" value="{{collab_ModifDate}}"></td>-->
		<!--</tr>-->
		<!--<tr>-->
		<!--<td><button class="saveItem">save</button><button class="cancelItem">Cancel</button>{{#each errors}}<div>{{message}}</div>{{/each}}</td>-->
		<!--</tr>-->
		<!--

		<tr align="right">
			<button type="button" class="btn btn-primary" ng-click="provider.SaveProviderRessources" >Save</button>
		</tr>
		<table align="center" border="2" title="Provider ressources">
			<tr>
				<td>CPU </td><td><input type="text" name="CPU" ng-model="provider.currentUser.Ressources.CPU" required/> Ghz</td>
			</tr>
			<tr>
				<td>Memory </td><td><input type="text" name="ram" ng-model="provider.currentUser.Ressources.Memory" required/> Gb</td>
			</tr>
			<tr>
				<td>Storage </td><td><input type="text" name="ram" ng-model="provider.currentUser.Ressources.Storage" required/> Gb</td>
			</tr>
			<tr>
				<td>Bandwidth </td><td><input type="text" name="Bandwidth" ng-model="provider.currentUser.Ressources.Bandwidth" required/> Mbps</td>
			</tr>
			<tr>
			<td>Elapse_time </td><td><input type="text" name="ram" ng-model="provider.currentUser.Ressources.Elapse_time" required/></td>
			</tr>
		</table>-->

	</div>
</div>