<div class="container-fluid">

	<div ng-hide="isLoggedIn">
		<br>Please connect to go further.
	</div>

	<div ng-if="isLoggedIn">
		<p>
			Please provide the name associated to your public IP (DNS):<br>
			<div class="container">
			<form name="dnsForm">
				<div class="row">
				<input type="text" class="col-xs-3" name="dns" ng-model="provider.currentUser.provider.dns" pattern="(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9])" required/>
				<span style="color:red" ng-show="dnsForm.dns.$dirty && dnsForm.dns.$invalid">
				</span>
				<button ng-click="provider.save()" class="btn btn-primary btn-xs" style="margin-left:10px;" ng-disabled="dnsForm.$invalid">Save</button>
				</div>
			</form>
			</div>
		</p>

		<table class="table">
			<thead>
				<tr>
					<th>DNS</th>
					<th>CPU</th>
					<th>RAM</th>
					<th>Storage</th>
					<th>Bandwidth</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-class="provider.getRowClass()">
					<td>Machine_en_dur</td>
					<td>4 Ghz</td>
					<td>2 GB</td>
					<td>42 GB</td>
					<td>42 MBps</td>
					<td>Buttons</td>
				</tr>
			</tbody>
		</table>

		<br><h3>Insert new machine:</h3>
		<br>
		<form name="newMachineForm" class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-sm-1">DNS:</label>
				<div class="col-sm-10">
					<input type="text" ng-model="provider.dns" name="dns" pattern="(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9])" required/>
					<span style="color:red" ng-model="provider.dns" ng-show="newMachineForm.dns.$dirty && newMachineForm.dns.$invalid">
					</span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-1">CPU:</label>
				<div class="col-sm-10">
					<input type="text" ng-model="provider.cpu" name="cpu" pattern="[0-9]*(\.[0-9]+)?" required/> Ghz
					<span style="color:red" ng-show="newMachineForm.cpu.$dirty && newMachineForm.cpu.$invalid">
					</span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-1">RAM:</label>
				<div class="col-sm-10">
					<input type="text" ng-model="provider.ram" name="ram" pattern="[0-9]*" required/> GB
					<span style="color:red" ng-show="newMachineForm.ram.$dirty && newMachineForm.ram.$invalid">
					</span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-1">Storage:</label>
				<div class="col-sm-10">
					<input type="text" ng-model="provider.storage" name="storage" pattern="[0-9]*" required/> GB
					<span style="color:red" ng-show="newMachineForm.storage.$dirty && newMachineForm.storage.$invalid">
					</span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-1">Bandwidth:</label>
				<div class="col-sm-10">
					<input type="text" ng-model="provider.bandwidth" name="bandwidth" pattern="[0-9]*" required/> MBps
					<span style="color:red" ng-show="newMachineForm.bandwidth.$dirty && newMachineForm.bandwidth.$invalid">
					</span>
				</div>
			</div>
			<button ng-click="provider.save()" class="btn btn-primary col-sm-1" ng-disabled="newMachineForm.$invalid">Save</button>
		</form>


		<!--<pre>Provider cpu="{{provider.currentUser.Ressources.cpu}}"</pre>-->
		<!--<tr>-->
		<!--<th>Memory</th>-->
		<!--<td><input type="text" id="editItemMemory" value="{{collab_Memory}}"></td>-->
		<!--</tr>-->
		<!--<tr>-->
		<!--<th>Hard Storage</th>-->
		<!--<td><input type="text" id="editItemStorage" value="{{collab_Storage}}"></td>-->
		<!--</tr>-->
		<!--<tr>-->
		<!--<th>Network</th>-->
		<!--<td><input type="text" id="editItemNetwork" value="{{collab_Network}}"></td>-->
		<!--</tr>-->
		<!--<tr>-->
		<!--<th>Last modified</th>-->
		<!--<td><input type="text" id="editItemModifDate" value="{{collab_ModifDate}}"></td>-->
		<!--</tr>-->
		<!--<tr>-->
		<!--<td><button class="saveItem">save</button><button class="cancelItem">Cancel</button>{{#each errors}}<div>{{message}}</div>{{/each}}</td>-->
		<!--</tr>-->
		<!--

		<tr align="right">
			<button type="button" class="btn btn-primary" ng-click="provider.SaveProviderRessources" >Save</button>
		</tr>
		<table align="center" border="2" title="Provider ressources">
			<tr>
				<td>CPU </td><td><input type="text" name="CPU" ng-model="provider.currentUser.Ressources.CPU" required/> Ghz</td>
			</tr>
			<tr>
				<td>Memory </td><td><input type="text" name="ram" ng-model="provider.currentUser.Ressources.Memory" required/> Gb</td>
			</tr>
			<tr>
				<td>Storage </td><td><input type="text" name="ram" ng-model="provider.currentUser.Ressources.Storage" required/> Gb</td>
			</tr>
			<tr>
				<td>Bandwidth </td><td><input type="text" name="Bandwidth" ng-model="provider.currentUser.Ressources.Bandwidth" required/> Mbps</td>
			</tr>
			<tr>
			<td>Elapse_time </td><td><input type="text" name="ram" ng-model="provider.currentUser.Ressources.Elapse_time" required/></td>
			</tr>
		</table>-->

	</div>
</div>